.resetPassword4-main {
  padding-block: 1rem;
}

.resetPassword4-first-sec {
  text-align: center;
  margin-top: 2rem;
}

.resetPassword4-first-sec p {
  margin: 1rem 0;
  color: #404040;
}

.resetPassword4-first-sec button {
  padding: 1rem 2rem;
  border-radius: 4px;
  border: 0;
  background-color: #9b51e0;
  color: #ffffff;
  border: 0;
  font-weight: 700;
  margin-top: 5rem;
  width: 90%;
}
