.resetPassword-main {
  padding-block: 1rem;
}

.resetPassword2-first-sec {
  text-align: center;
  margin-top: 2rem;
}
.resetPassword2-first-sec p {
  margin: 1rem 0;
  color: #404040;
}

.resetPassword2-input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  width: 100%;
}

.resetPassword2-input {
  width: 48px;
  height: 48px;
  border: 0;
  background: #d9d9d9;
  color: #404040;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #9b51e0;
}

.resetPassword2-last-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.8rem;
  width: 100%;
}

.resetPassword2-last-sec > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetPassword2-last-sec > div small {
  display: block;
  align-self: center;
  margin-top: auto;
}

.resetPassword2-last-sec button {
  border: 0;
  background: none;
  font-style: 14px;
  /* text-decoration: none; */
  margin-right: 0.5rem;
}

.resetPassword2-btn-a-enabled {
  color: #5e1a84;
}

.resetPassword2-btn-a-disabled {
  color: #9e9e9e;
}

.resetPassword2-last-sec > small {
  color: #5e1a84;
  font-weight: 700;
  font-size: 14px;
}

.resetPassword2-btn-div form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;
}
.resetPassword2-btn {
  display: block;
  padding: 1rem 2rem;
  border-radius: 4px;
  border: 0;
  background-color: #9b51e0;
  color: #ffffff;
  font-weight: 700;
  width: 90%;
  text-align: center;
}
