.resetPassword3-main {
  padding-block: 1rem;
}

.resetPassword3-first-sec {
  text-align: center;
  margin: 2rem 0;
}

.resetPassword3-first-sec p {
  margin: 1rem 0;
}

.resetPassword3-input-div {
  position: relative;
  margin: 1rem 0;
}

.reset-password3-input-img {
  position: absolute;
  top: 26%;
  margin-left: 1rem;
}

.resetPassword3-input-div input {
  width: 72%;
  padding: 1rem 3rem 1rem 3rem;
  margin: 0.6rem 0;
  border: 0;
  border-radius: 4px;
}

.resetPassword3-input-div input::placeholder {
  color: #aaaaaa;
}

.resetPassword3-input-div span {
  position: absolute;
  top: 20px;
  right: 0;
  background: transparent;
  border: 0;
  margin: 0 1rem;
}

.resetPassword3-small1 {
  color: #f44336;
  font-weight: bold;
}

.resetPassword3-small2 {
  color: #4caf50;
  font-weight: bold;
}

.resetPassword3-btn-div {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.resetPassword3-btn-div button {
  padding: 1rem 2rem;
  border-radius: 4px;
  border: 0;
  background-color: #9b51e0;
  color: #ffffff;
  font-weight: 700;
  margin-top: 3rem;
  width: 90%;
}
