.resetPassword1-main {
  padding-block: 2rem;
}

.resetPassword1-second-sec {
  text-align: center;
  margin-top: 4rem;
}
.resetPassword1-second-sec p {
  margin-top: 1rem;
}

.resetPassword1-input-email-div {
  position: relative;
  width: 100%;
  margin: 3rem 0 2rem 0;
}

.resetPassword1-input-email-div input {
  width: 80%;
  padding: 1rem 1rem 1rem 3rem;
  border: 0;
  border-radius: 4px;
}

.resetPassword1-input-email-div input ::placeholder {
  color: #aaaaaa;
}

.resetPassword1-input-email-div img {
  position: absolute;
  top: 25%;
  margin-left: 1rem;
}

.resetPassword1-input-email-div small {
  position: absolute;
  left: 0;
  top: 60px;
  color: red;
}

.resetPassword1-btn {
  padding: 1rem 2rem;
  border-radius: 4px;
  border: 0;
  background-color: #9b51e0;
  color: #ffffff;
  font-weight: 600;
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1rem;
}

.resetPassword1-last-div {
  text-align: center;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.resetPassword1-last-div h5 {
  font-weight: bold;
  color: #000;
}

.resetPassword1-last-div a {
  text-decoration: none;
  color: #5e1a84;
  font-weight: bold;
}
